.handsontable td {
    &.htDimmed {
        color: rgb(55, 55, 55);

        &:hover {
            cursor: default;
        }

        .htAutocompleteArrow {
            display: none;
        }
    }

    &:not(.htDimmed) {
        &:hover {
            cursor: text;
        }
    }

    .btn i {
        pointer-events: none;
    }
}

a[type=button] > * {
    pointer-events: none;
}

.card-title {
    font-size: 1.15rem;
}

.select2-container {
    width: 100% !important;
}

.select2-selection__clear {
    color: black !important;
    margin-right: 20px !important;
}

.page-content {
    min-height: 100vh;
}
